In [14]:
#loading in the library necessary
library(tidyverse)
install.packages("tidyverse")
library(repr)
library(tidymodels)
install.packages("themis")
library(themis)
options(repr.matrix.max.rows = 6)

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [103]:
cleveland <- read_csv("https://raw.githubusercontent.com/JennWan/Group_Project/main/heart%20disease%20data/original%20data/cleve-Copy1.mod.csv", col_names = F)
colnames(cleveland) <- c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", 
                         "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num")
cleveland
cleveland_tidy <- cleveland |>
                select(age, cp, trestbps, chol, fbs, thalach, exang, ca, thal, num) |>
                mutate(age = as.integer(age), 
                       trestbps = as.integer(trestbps), 
                       chol = as.integer(chol), 
                       thalach = as.integer(thalach), 
                       cp = as_factor(cp), 
                       fbs = as_factor(fbs), 
                       exang = as_factor(exang), 
                       ca = as.integer(ca), 
                       thal = as_factor(thal), 
                       num = as_factor(num))
cleveland_tidy <- cleveland_tidy |>
                mutate(ca = as_factor(ca)) |>
                filter(!is.na(ca), !is.na(thal))
cleveland_tidy

Rows: 303 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): X2, X3, X6, X7, X9, X11, X12, X13, X14, X15
dbl  (5): X1, X4, X5, X8, X10

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex  cp     trestbps chol fbs  restecg thalach exang oldpeak slope ca
1   63  male angina 145      233  true hyp     150     fal   2.3     down  0.0
2   67  male asympt 160      286  fal  hyp     108     true  1.5     flat  3.0
3   67  male asympt 120      229  fal  hyp     129     true  2.6     flat  2.0
⋮   ⋮   ⋮    ⋮      ⋮        ⋮    ⋮    ⋮       ⋮       ⋮     ⋮       ⋮     ⋮
301 49  male notang 118      149  fal  hyp     126     fal   0.8     up    3.0
302 74  fem  abnang 120      269  fal  hyp     121     true  0.2     up    1.0
303 54  fem  notang 160      201  fal  norm    163     fal   0.0     up    1.0
    thal num  <NA>
1   fix  buff H
2   norm sick S2
3   rev  sick S1
⋮   ⋮    ⋮    ⋮
301 norm sick S1
302 norm buff H
303 norm buff H

Warning message:
“There was 1 warning in `mutate()`.
ℹ In argument: `ca = as.integer(ca)`.
Caused by warning:
! NAs introduced by coercion”

    age cp     trestbps chol fbs  thalach exang ca thal num
1   63  angina 145      233  true 150     fal   0  fix  buff
2   67  asympt 160      286  fal  108     true  3  norm sick
3   67  asympt 120      229  fal  129     true  2  rev  sick
⋮   ⋮   ⋮      ⋮        ⋮    ⋮    ⋮       ⋮     ⋮  ⋮    ⋮
296 49  notang 118      149  fal  126     fal   3  norm sick
297 74  abnang 120      269  fal  121     true  1  norm buff
298 54  notang 160      201  fal  163     fal   1  norm buff